<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="login-page.css" type="text/css">
  </head>
  <body>
    <header>
      <h1 align="left">Global Elective</h1>
    </header>
    <form action="/loginHOD" method="POST">
    <button id="open-button">LOGIN AS HOD</button>
    </form>
    <form action="/loginstudent" method="POST">
    <button id="open-buttontwo">
      LOGIN AS STUDENT
    </button>
    </form>
    <form action="/result" method="POST">
      <button id="open-buttonthree">
        VIEW RESULT
      </button>
    </form>
  </body>
</html>
